<div id="pCarousel" class="carousel slide">
    <div class="portfolio carousel-inner">
        <div class="item active">
          <%= render :template=>"projects/index" %>
        </div>
        <div class="item">
          <%= render :template=>"twoprojects/index" %>
        </div>
        <div class="item">
          <%= render :template=>"projects/index" %>
        </div>
        <div class="item">
          <%= render :template=>"projects/index" %>
        </div>
    </div>
</div> <!-- Carousel -->