<div id="pCarousel" class="carousel slide">
    <div class="portfolio carousel-inner">
        <div class="item active" style="background-color: #272936;">
          <%= render :template=>"projects/index" %>
        </div>
        <div class="item" style="background-color: green;">
          <%= render :template=>"projects/index" %>
        </div>
        <div class="item" style="background-color: red;">
          <%= render :template=>"projects/index" %>
        </div>
        <div class="item" style="background-color: grey;">
          <%= render :template=>"projects/index" %>
        </div>
    </div>
</div> <!-- Carousel -->