/*Custom css or scss here*/

/*Available font-weight for Roboto: 300, 400, and 700
ask Alex if you want more weights or italics*/
$roboto: 'Roboto', sans-serif;

h1, p, i, a{
	color: #ecf0f1;
    font-family: $roboto;
}

body{
    font-family: $roboto;
    background-color: #ecf0f1;
}

$nav-trans-color: background-color 0.2s linear;
$nav-trans-text: color 0.2s linear;

.navbar-default{
    background-color: #383a4c;
    border: none;
	transition: $nav-trans-text, $nav-trans-color;
}

.navbar-default a{
    color: #ecf0f1;
	transition: $nav-trans-text, $nav-trans-color;
}

.navbar-default a:hover{
    color: #fff;
    background-color: #2ecc71;
	transition: $nav-trans-text, $nav-trans-color;
}

#navbar a{
    background-color: #383a4c;
	transition: $nav-trans-text, $nav-trans-color;
    color: #ecf0f1;
}

#navbar a:hover{
    background-color: #00BFFF;
	transition: $nav-trans-text, $nav-trans-color;
    color: #fff;
}

.navbar-default .navbar-brand{
    background-color: #383a4c;
	transition: $nav-trans-text, $nav-trans-color;
    color: #ecf0f1;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    background-color: #2ecc71;
	transition: $nav-trans-text, $nav-trans-color;
    color: #fff;
}

.navbar-default .navbar-toggle{
    border-radius: 0px;
    border-color: #fff;
    background-color: #383a4c;
	transition: $nav-trans-text, $nav-trans-color;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    border-radius: 0px;
    border-color: #fff;
    background-color: #fff;
	transition: $nav-trans-text, $nav-trans-color;

}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #27ae60;
}

#title{
	background: url("Men1.jpg") no-repeat center center fixed;
	min-height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:cover;
	height: 90vh;
}

.title-text{
	position: absolute;
	margin-left: 70%;
    padding-top: 35vh;
}

.title-text h1{
	margin-bottom: 20px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.title-text p{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 768px) {
	.title-text{
		margin-left: 40%;
		width: 50%;
		padding-top: 20vh;
	}
}

.bg-img{
	position: relative;
}

$cat-padding: 10px;
$cat-trans-color: background-color 0.2s linear;
$cat-trans-text: color 0.2s linear;

.port-nav{
	font-family: $roboto;
	font-size: 150%;
	font-weight: 400;
    background-color: #383a4c
}

.port-nav a{
	background-color: #383a4c;
	color: #ecf0f1;
	padding-top: $cat-padding;
	padding-bottom: $cat-padding;
	transition: $cat-trans-text, $cat-trans-color;
	text-decoration: none;
}

.port-nav a:hover,
.port-nav a:active,
.port-nav a:focus{
	background-color: #00BFFF;
	color: #fff;
	padding-top: $cat-padding;
	padding-bottom: $cat-padding;
	transition: $cat-trans-text, $cat-trans-color;
	text-decoration: none;
}

#portfolio > .row{
    margin: 0px;
}

.container-fluid{
    padding: 0px;
}

.portfolio{
	height: auto;
    width: 100%;
}

.item{
    height: 100%;
}

#about{
    background-color: #272936;
}

.container-fluid{
	padding: 0px;
}

.fa-about{
	position: absolute;
	top:  50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#contact{
    background-color: #383a4c;
    height: auto;
}

$c-padding: 50px;

.c-content{
    padding-top: $c-padding;
    padding-bottom: $c-padding;
    color: #ecf0f1;
}

.c-top{
    color: #ecf0f1;
}

.c-border{
    margin: auto;
    width: 50%;
    border-bottom: 3px solid #ecf0f1;
}

.c-email{
    padding-top: 30px;
}

.c-email > a{
    background-color: #383a4c;
	transition: $cat-trans-text, $cat-trans-color;
    border-radius: 0px;
}

.c-email .btn:focus{
    color: #fff;
    text-decoration: none;
    background-color: #383a4c;
	transition: $cat-trans-text, $cat-trans-color;
    border-radius: 0px;
}

.c-email > a:hover{
    color: #fff;
    text-decoration: none;
    background-color: #00BFFF;
	transition: $cat-trans-text, $cat-trans-color;
    border-radius: 0px;
}

.c-bottom a i{
    display: inline-block;
    padding: 10px;
    color: #ecf0f1;
}

.c-bottom a i:hover{
    display: inline-block;
    padding: 10px;
    color: #fff;
	transition: $cat-trans-text, $cat-trans-color;
}

.copyright {
    text-align: center;
    color: #272936;
}

.panel {
    background-color: #383A4C;
}

.panel-default {
    border-top-color: #fff;
    border-left-color: transparent;
    border-right-color: transparent;
}

.panel-heading {

}

.panel-body p{
    color: #fff;
}

.linkpacity {
    opacity: 0.2;
}

.masonry {
    position: relative;
    display:block;
}